*{
    margin: 0;
    padding: 0;
}

p{
    display: inline;
}
.black{
    color: black;
}
.red{
    color: red;
}
.globe{
    padding-left: 50px;
}
.cred{
    float: right;   
    padding: 10px;
    padding-right: 50px;
}
#language{
    padding: 10px 10px 10px 0px;
    border: none;
}


.tit, .lists{
    color: white;
}
.tit{
    font-size: 25px;
    padding: 10px;
}
.navbar{
    display: flex;
    background-color: red;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}
.lists ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lists li{
    list-style: none;
}
.lists li a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.lists li a:hover{
    background-color: white;
    border-radius: 25px;
    color: red;
}
#searchbox{
    width: 100px;
    height: 20px;
    padding-right: 30px ;
    /* border-radius: 5px; */
    /* border: 1px solid gray; */
}

